In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("estonia.csv")

In [5]:
print(df.head())

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [6]:
print(df.columns)

Index(['PassengerId', 'Country', 'Firstname', 'Lastname', 'Sex', 'Age',
       'Category', 'Survived'],
      dtype='object')

In [8]:
contingency_sex = pd.crosstab(df['Survived'], df['Sex'])
print("Contingency Table for Survival by Sex:")
print(contingency_sex)

Contingency Table for Survival by Sex:
Sex         F    M
Survived
0         459  393
1          27  110

In [10]:
contingency_age = pd.crosstab(df['Survived'], df['Age'])
print("Contingency Table for Survival by Age:")
print(contingency_age)

Contingency Table for Survival by Age:
Age       0   2   4   5   6   9   10  12  13  14  ...  73  74  75  76  77  78  \
Survived                                          ...
0          1   1   1   2   1   1   3   0   2   2  ...   7  15   5   5   2   4
1          0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0

Age       80  81  82  87
Survived
0          2   1   2   1
1          0   0   0   0

[2 rows x 78 columns]

In [12]:
contingency_category = pd.crosstab(df['Survived'], df['Category'])
print("Contingency Table for Survival by Class of Travel:")
print(contingency_category)

Contingency Table for Survival by Class of Travel:
Category    C    P
Survived
0         154  698
1          39   98

In [15]:
survival_by_sex = df.groupby('Sex')['Survived'].mean()
print("Survival Rate by Sex:")
print(survival_by_sex)

Survival Rate by Sex:
Sex
F    0.055556
M    0.218688
Name: Survived, dtype: float64

In [16]:
survival_by_age = df.groupby('Age')['Survived'].mean()
print("Survival Rate by Age:")
print(survival_by_age)

Survival Rate by Age:
Age
0     0.0
2     0.0
4     0.0
5     0.0
6     0.0
     ...
78    0.0
80    0.0
81    0.0
82    0.0
87    0.0
Name: Survived, Length: 78, dtype: float64

In [17]:
survival_by_category = df.groupby('Category')['Survived'].mean()
print("Survival Rate by Category of Travel:")
print(survival_by_category)

Survival Rate by Category of Travel:
Category
C    0.202073
P    0.123116
Name: Survived, dtype: float64