In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cats.csv")

In [3]:
df.info

<bound method DataFrame.info of      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]>

In [4]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [5]:
df.drop(['unnamed:0], inplace=True, axis =1)

SyntaxError: EOL while scanning string literal (3934315330.py, line 1)

In [6]:
df.head

<bound method NDFrame.head of      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]>

In [52]:
sample_99 = df.iloc[98]

In [53]:
print(sample_99)

Unnamed: 0           98.0
Breed          Maine Coon
Age (Years)           9.0
Weight (kg)           5.0
Color                Blue
Gender             Female
ID                  590.0
Name: 98, dtype: object

In [49]:
zuko_data = {
    'Unnamed: 0': 'Zuko',          
    'Breed': 'Tabby',            
    'Age (Years)': 3,            
    'Weight (kg)': 5,           
    'Color': 'Orange',     
    'Gender': 'Male',              
    'ID': None                   
}

In [50]:
df.loc[len(df)] = zuko_data

In [51]:
print(df.tail())

     Unnamed: 0  Breed  Age (Years)  Weight (kg)         Color Gender    ID
1003        NaN    NaN          NaN          3.0  Orange Tabby    NaN   NaN
1004        NaN    NaN          NaN          3.0  Orange Tabby    NaN   NaN
1005       None  Tabby          3.0          3.0  Orange Tabby   None  None
1006       Zuko  Tabby          3.0          3.0        Orange   Male  None
1007       Zuko  Tabby          3.0          5.0        Orange   Male  None

In [ ]:
df.loc[len(df)] = ["Orange Tabby", 3, 5, "Orange", "Male"]

In [55]:
df['Weight(Lbs)'] = df['Weight (kg)'] *2.205

In [56]:
df.tail()

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight(Lbs)
1003,NaN,NaN,NaN,3.0,Orange Tabby,NaN,NaN,6.615
1004,NaN,NaN,NaN,3.0,Orange Tabby,NaN,NaN,6.615
1005,None,Tabby,3.0,3.0,Orange Tabby,None,None,6.615
1006,Zuko,Tabby,3.0,3.0,Orange,Male,None,6.615
1007,Zuko,Tabby,3.0,5.0,Orange,Male,None,11.025

In [9]:
df.loc[42]

NameError: name 'df' is not defined

NameError: name 'sample_43' is not defined